.background{
  height: 500px;
  background-image: url("http://localhost:3000/images/header-background.jpg");
}

.card{
  margin: 0 auto
}

.cardhero{
  margin-top:50px;
  width: 250px;
}
.card-body{
  background-color: #edf3f3;
}
.card-img-top{
  height:250px;
}
